<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        <style>
            .t td , .t th {
                border: 1px solid black;
            }

            .data {
                width: 100px;
            }

            input {
                width: 100%;
            }
        </style>
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <div>
            <form action="{{ path('logout') }}" method="POST">
                <button type="submit">Logout</button>
            </form>
        </div>

        <h2>Products</h2>
        <table class="t">
            <thead>
            <tr>
                <th class="data">Name</th>
                <th class="data">Category ID</th>
                <th class="data">Price</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td class="data">{{ product.name }}</td>
                    <td class="data">{{ product.categoryID }}</td>
                    <td class="data">{{ product.price }}</td>
                    <td>
                        <form action="{{ path('product_edit_form', {'id': product.id}) }}" method="GET">
                            <button type="submit">EDIT</button>
                        </form>
                    </td>
                    <td>
                        <form action="{{ path('product_delete', {'id': product.id}) }}" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit">DELETE</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <form action="{{ path('product_create') }}" method="POST">
            <table>
                <tbody>
                    <tr>
                        <td class="data"><input type="text" name="name" placeholder="Product Name" required></td>
                        <td class="data"><input type="text" name="categoryID" placeholder="Category ID" required></td>
                        <td class="data"><input type="number" step="0.01" name="price" placeholder="Price" required></td>
                        <td><button type="submit">ADD PRODUCT</button></td>
                    </tr>
                </tbody>
            </table>
        </form>

        <h2>Categories</h2>
        <table class="t">
            <thead>
            <tr>
                <th class="data">Name</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td class="data">{{ category.name }}</td>
                    <td>
                        <form action="{{ path('category_edit_form', {'id': category.id}) }}" method="GET">
                            <button type="submit">EDIT</button>
                        </form>
                    </td>
                    <td>
                        <form action="{{ path('category_delete', {'id': category.id}) }}" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit">DELETE</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <form action="{{ path('category_create') }}" method="POST">
            <table>
                <tbody>
                <tr>
                    <td class="data"><input type="text" name="name" placeholder="Category Name" required></td>
                    <td><button type="submit">ADD CATEGORY</button></td>
                </tr>
                </tbody>
            </table>
        </form>

        <h2>Reviews</h2>
        <table class="t">
            <thead>
            <tr>
                <th class="data">Product ID</th>
                <th class="data">Rating</th>
            </tr>
            </thead>
            <tbody>
            {% for review in reviews %}
                <tr>
                    <td class="data">{{ review.productID }}</td>
                    <td class="data">{{ review.rating }}</td>
                    <td>
                        <form action="{{ path('review_edit_form', {'id': review.id}) }}" method="GET">
                            <button type="submit">EDIT</button>
                        </form>
                    </td>
                    <td>
                        <form action="{{ path('review_delete', {'id': review.id}) }}" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit">DELETE</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <form action="{{ path('review_create') }}" method="POST">
            <table>
                <tbody>
                <tr>
                    <td class="data"><input type="text" name="productID" placeholder="Product ID" required></td>
                    <td class="data"><input type="number" min="1" max="5" name="rating" placeholder="Product rating" required></td>
                    <td><button type="submit">ADD REVIEW</button></td>
                </tr>
                </tbody>
            </table>
        </form>
        {% endblock %}
    </body>
</html>
